@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "SuisseIntl", sans-serif;
  background: white;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --white: white;
  --black: #000;
}

@font-face {
  font-family: "SuisseIntl";
  font-display: swap;
  src: url("../fonts/SuisseIntl-Regular.woff") format("woff"),
    url("../fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  font-display: swap;
  src: url("../fonts/SuisseIntl-Bold.woff") format("woff"),
    url("../fonts/SuisseIntl-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.right-content__lang-link:hover {
  border-bottom: 1px solid black;
}

.right-content__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-content__lang-item:not(:last-child) {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin-right: 20px;
}

.header {
  padding: 20px 0px;
  border-bottom: 1px solid #4e5761;
  overflow: hidden;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 0 70px;
}

.header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #222;
}

.header__nav-link:hover {
  border-bottom: 1px solid black;
}

.hero {
  padding-top: 65px;
  padding-bottom: 22.5px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content-left {
  max-width: 777px;
  width: 100%;
}

.hero__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 73px;
  margin-bottom: 60px;
}

.hero__description-one {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 26px;
}

.hero__description-second {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero__link {
  position: relative;
  padding: 15px 50px;
  font-weight: 700;
  font-size: 18px;
  color: #282828;
  border-bottom: 0.1rem solid #282828;
}

.hero__arrow {
  position: absolute;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__button:hover .hero__arrow {
  right: 0px;
}

.prod__swiper {
  height: 380px;
  position: relative;
}

.swiper-wrapper {
  position: absolute;
  left: 145px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 45%;
  background-color: grey;
  border-radius: 100%;
  cursor: pointer;
}

.swiper-button-next::before {
  content: "»";
  opacity: 0.75 !important;
  position: relative;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  bottom: 2px;
}

.swiper-button-prev::before {
  content: "«";
  opacity: 0.75 !important;
  position: relative;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  bottom: 2px;
}

.products {
  padding-top: 22.5px;
  padding-bottom: 40px;
  background-image: url(../img/products-logo.svg);
  background-position-y: -5%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.products-bottom {
  padding-top: 60px;
}

.products-top__title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 26px;
}

.products-top__description {
  font-size: 20px;
  margin-bottom: 26px;
}

.products__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 0;
  -webkit-box-shadow: -1px 9px 18px -3px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 9px 18px -3px rgba(0, 0, 0, 0.35);
  width: 320px;
  height: 320px;
  padding: 30px;
  margin: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-size: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.products .proudcts__description {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px 0px;
  font-size: 12px;
}

.products .proudcts__logo {
  display: block;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-size: cover;
}

.products__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 320px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(196, 196, 196, 0.3)),
    color-stop(100%, rgba(196, 196, 196, 0.3)),
    color-stop(101%, #fff),
    color-stop(200%, #fff)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(196, 196, 196, 0.3) 0,
    rgba(196, 196, 196, 0.3) 100%,
    #fff 101%,
    #fff 200%
  );
  background-image: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0.3) 0,
    rgba(196, 196, 196, 0.3) 100%,
    #fff 101%,
    #fff 200%
  );
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.products__slide:hover:before {
  width: 320px;
}

.world {
  padding-top: 60px;
  padding-bottom: 30px;
}

.world__content {
  max-width: 660px;
  width: 100%;
}

.world__content-title {
  font-size: 50px;
  margin-bottom: 21px;
  font-weight: bold;
  line-height: 70px;
}

.world__content-description {
  font-size: 20px;
  margin-bottom: 26px;
}

.hr {
  padding-top: 30px;
  padding-bottom: 91px;
}

.hr__title {
  font-size: 50px;
  margin-bottom: 26px;
}

.hr__profiles-item {
  border: 2px solid #282828;
  padding: 13px 46px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.hr__profiles-item:hover {
  background-color: #282828;
  color: #fff;
}

.hr__profiles-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hr__profiles-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer {
  background-color: #282828;
}

.footer-top {
  padding: 80px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.footer-top__left-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 26px;
  color: white;
}

.footer-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.left-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left-group__descpription {
  font-size: 20px;
  margin-bottom: 26px;
  color: white;
}

.left-group__mail {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 26px;
  color: white;
  font-size: 20px;
}

.left-group__link:hover {
  border-bottom: 2px solid white;
}

.footer__content-bottom {
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.footer-bottom__politic-link {
  color: #7a7a7a;
  font-size: 13px;
}

.footer-bottom__politic-link:hover {
  border-bottom: 1px solid white;
}

.footer-bottom__list-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom__item-socials:not(:last-child) {
  margin-right: 20px;
}

.footer-content__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content__lang-item {
  color: grey;
  font-size: 20px;
}

.footer-content__lang-item:hover {
  color: white;
}

.footer-bottom__item-socials:hover path {
  stroke: white;
  fill: white;
}

.footer-content__lang-item:not(:last-child) {
  margin-right: 20px;
}

.team {
  background-color: #1f1f1f;
  overflow: hidden;
}

.team__swiper {
  height: 700px;
}

.team__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.team__slide-left {
  width: 500px;
  margin-right: 50px;
}

.team__slide-right {
  width: 500px;
  display: block;
  height: 700px;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-item-align: center;
  align-self: center;
}

.team-left {
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 70px;
}

.team-left__title {
  color: white;
  font-size: 50px;
  margin-bottom: 26px;
}

.team-left__name {
  font-size: 20px;
  color: white;
}

.team-left__description {
  font-size: 15px;
  color: white;
  margin-bottom: 26px;
}

.team-left__description-first {
  font-size: 15px;
  color: white;
  margin-bottom: 60px;
}

.team-left__description-second {
  font-size: 15px;
  color: white;
}

.team-left__title2 {
  font-size: 50px;
  color: white;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
